body {
    font-family: sans-serif;
    font-size: 12px;
}
#editor {
    position: absolute;
    top: 50px; right: 20px; left: 51%; bottom: 50px;
    border: 1px solid #f1f3f7;
}

#pt {
    position: absolute;
    top: 50px; left: 20px; right: 51%; bottom: 50px;
    border: 1px solid #f1f3f7;
}

#open {
    position: absolute;
    top: 20px; right: 20px;
}

#run {
    position: absolute;
    bottom: 20px; right: 20px;
}

#links {
    position: absolute;
    bottom: 20px; left: 20px;
}

#openFile, #runFile {
    padding: 5px;
}